# Auto detect text files and perform normalization
*          text=auto eol=lf
*.rs       text diff=rust eol=lf
*.toml     text diff=toml eol=lf
Cargo.lock text eol=lf

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text diff=markdown

# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore

# Image files
*.gif binary
*.png binary
*.jpg binary
*.bmp binary

